/*  your css code here. If applicable */
div{
	width:100px;
	height:100px;
	background-color:red;
}
.pulse{
	animation: pulse-animation 2s infinite;
	transition-timing-function:ease-in;
	transition-timing-function:ease-out;
}